{{header.html}}
{{navigation.html}}
<div id="content">
	<span class="section">Schematic</span>
	<p>Our setup is split in to two distinct parts, one to power and monitor the power consumption of our device, and the other to control USB access to the device.</p>
	<p>The following schematic is for providing power and monitoring the power consumption of our device:</p>
	<img src="images/ina219_dc_diagram.svg" height="500px" />
	<p>The following schematic is for switching on and off USB connection for our device:</p>
	<img src="images/transistor_switch_diagram.svg" height="500px" />
</div>
{{footer.html}}
