/*  */

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

* {
	font-family: Inconsolata, sans-serif;
	margin:0;
	padding:0;
}

body {
	background:url('images/tiled_bg.gif');
}

/*  */
#header {
	background:rgba(255,255,255,0.8);
	border-bottom:1px solid #333;
	font-size:44px;
	font-weight:bold;
	text-indent:10%;
}

/*  */
#navigation {
	font-size:14px;
}
#navigation ul {
	list-style-type:none;
	margin:0 0 0 5%;
}
#navigation ul li {
	display:inline;
	margin:0 5px 0 0;
}
#navigation ul li a {
	background-color:#333;
	border-radius:0 0 5px 5px;
	color:#FFF;
	text-decoration:none;
	padding:0 8px;
}
#navigation ul li a:visited {
	color:#CCC;
}

/*  */
#content {
	background:rgba(255,255,255,0.8);
	border:1px solid #333;
	border-radius:5px;
	font-size:12px;
	margin:5px auto 0 auto;
	padding:5px;
	width:90%;
}
#content .section {
	border-bottom:1px solid #333;
	display:block;
	font-size:24px;
	font-weight:bold;
	letter-spacing:1px;
	text-indent:10px;
	width:90%;
}
#content img {
	clear:both;
	display:block;
	margin:0 auto;
}
#content ol {
	margin:0 0 0 30px;
}
#content p {
	margin:10px 0 5px 0;
}

/* */
#footer {
	color:#CCC;
	font-size:10px;
	margin:4px 0 4px 5%;
}
