@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
	background-image:url('images/tiled_bg.gif');
	color:#111;
	font-family: 'Inconsolata', sans-serif;
	letter-spacing:-0.6pt;
	font-size:10pt;
	margin:0;
	padding:0;
}

.navbar {
	background-color:#FFF;
	border-bottom:1px solid #333;
	height:40px;
	left:0;
	top:0;
}
.navbar a {
	border-right:1px solid #CCC;
	display:inline-block;
	font-weight:700;
	line-height:40px;
}
.navbar .brand {
	background-color:#333;
	border-right:2px solid #333;
	color:#FFF;
	float:left;
	padding:0 20px 0 20px;
	text-decoration:none;
}
.navbar ul {
	list-style-type:none;
	margin:0;
}
.navbar ul .active a {
	color:#333;
}
.navbar ul .about {
	float:right;
}
.navbar ul .about a {
	border-left:1px solid #CCC;
	border-right:none;
}
.navbar ul li {
	display:inline-block;
	float:left;
	margin:0;
}
.navbar ul li a {
	color:#999;
	margin:0;
	padding:0 10px 0 10px;
}

.logo {
	float:left;
	left:5px;
	position:absolute;
	top:46px;
}

.container {
	background-color:rgba(255,255,255,0.8);
	border:2px solid #333;
	border-radius:5px;
	display:block;
	margin:0 auto;
	width:800px;
}
.container img {
	clear:both;
	margin:0 0 5px 0;
	max-width:800px;
}
.container span {
	display:inline-block;
	margin:5px;
}
#graph_legend {
	border:1px solid #333;
	border-radius:5px;
	float:left;
	margin:5px 25px 5px 5px;
	padding:5px;
}
.graph_legend_entry {
	padding:0 0 0 5px;
}
.graph_legend_entry div {
	border:1px solid #333;
	display:inline-block;
	height:10px;
	line-height:10px;
	margin:2px 4px 0 0;
	width:10px;
}
.header {
	background-color:rgba(255,255,255,0.8);
	border-bottom:2px solid #333;
	height:137px;
	padding:5px 0 0 80px;
}

.title {
	display:block;
	font-family: 'Inconsolata', sans-serif;
	font-size:24pt;
	font-weight:bold;
	padding:10pt 0 0 5pt;
}

.subtitle {
	display:block;
	font-family: 'Inconsolata', sans-serif;
	font-size:11pt;
	text-indent:15pt;
}

.content {
	padding:5px;
}

.content form {
	padding: 5px;
	width: 50%;
	margin: 0 auto;
	overflow: auto;
}
.content form h3 {
	text-align: center;
	margin: 0;
}
.content form button {
	float: right;
}
.content table {
	border:2px solid #333;
	border-radius:5px;
	border-spacing:0;
	margin:auto;
	width:800px;
}
.content table td {
	font-size:10pt;
	padding:3px;
}
.content table td:nth-child(1) {
	width:250px;
}
.content table th {
	background-color:#333;
	border:1px solid #333;
	color:#EEE;
	font-size:12pt;
	font-weight:700;
	padding:2px;
	text-align:center;
}
.content table tr:nth-child(even) {
	background-color:rgba(255,255,255,0.6);
}
.content table tr:nth-child(odd) {
	background-color:rgba(255,255,255,1.0);
}
.move {
	background-color:rgba(255,255,255,0.8);
	border:2px solid #333;
	border-radius:5px;
	height:150px;
	left:50%;
	margin:-110px 0 0 -300px;
	padding:60px 5px 5px 5px;
	position:absolute;
	top:50%;
	width:600px;
}
.report {
	height:40px;
	position:absolute;
	right:20px;
	top:60px;
	width:40px;
}
.download {
	height:40px;
	position:absolute;
	right:20px;
	top:120px;
	width:40px;
}
.gallery {
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
}
.gallery img {
	display:inline;
	height:35%;
	margin:0 15px 10px 15px;
	width:35%;
}

/* Palette */
.color1 {
	background-color:#1F78B4;
	color:#1F78B4;
}
.color2 {
	background-color:#33A02C;
	color:#33A02C;
}
.color3 {
	background-color:#E31A1C;
	color:#E31A1C;
}
.color4 {
	background-color:#FF7F00;
	color:#FF7F00;
}
.color5 {
	background-color:#6A3D9A;
	color:#6A3D9A;
}
.color6 {
	background-color:#B15928;
	color:#B15928;
}
.color7 {
	background-color:#A6CEE3;
	color:#A6CEE3;
}
.color8 {
	background-color:#B2DF8A;
	color:#B2DF8A;
}
.color9 {
	background-color:#FB9A99;
	color:#FB9A99;
}
.color10 {
	background-color:#FDBF6F;
	color:#FDBF6F;
}
.color11 {
	background-color:#CAB2D6;
	color:#CAB2D6;
}
.color12 {
	background-color:#FFFF99;
	color:#FFFF99;
}
