.batch {
  background-color: #E0E0E0;
  margin: 0.3em auto;
}

.batch .test-app {
  border-bottom: thin solid white;
}

.batch h3 {
  margin: 0.1em;
  display: inline;
}

.batch button {
  text: white;
}

.batch.even {
  background-color: white;
}

.batch.even .test-app {
  border-bottom: thin solid #E0E0E0;
}

.test-app button:hover {
  background-color: #BD362F;
  background-image: linear-gradient(to bottom, #EE5F5B, #BD362F); 
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.container {
    margin: 0 auto;
}

.status.stale {
    border-left: thick solid red;
}

.status.stale > div {
    opacity: 0.45;
}
