<!doctype html>
<!--
#
# Copyright (c) 2013 Alex Wilson
# Copyright (c) 2014 Wyatt Johnson
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# -->
<html ng-app="libgreenminerWeb"><head>
    <title>add tests to the greenminer queue</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/bootstrap.min.css"/>
    <link rel="stylesheet" href="resources/style.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-animate.min.js"></script>
    <script type="text/javascript" src="resources/js/libgreenminerWeb.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body ng-controller="AddTestsCtrl">
    <div class="navbar" style="margin-bottom: 0">
        <div class="navbar-inner">
            <a class="brand" href="#">GreenMiner</a>
            <ul class="nav">
                <li><a href="index.py">Test Results</a></li>
                <li class="active"><a href="#">Add Tests</a></li>
                <li><a href="list_apps.py">Browse Tests and APKs</a></li>
                <li><a href="queue.html">Manage Queue</a></li>
                <li><a href="status.html">Status</a></li>
                <li><a href="graphs.py">Graphing</a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <h1>Add Tests</h1>
    </div>
    <div class="row">
        <div class="span8">
            <form class="form-horizontal"  method="POST" action="{{ queueAction() }}" style="display: block; background-color: white; margin-top: 0.3em;">
                <div class="control-group">
                    <label class="control-label">app</label>
                    <div class="controls controls-row">
                        <select id="app-picker" name="app" ng-options="app as app.name group by app.target for app in apps track by app.name" ng-model="newTest.app" required>
                            <option value="">Select a app</option>
                        </select>
                    </div>
                </div>
                <div class="control-group" ng-show="newTest.app.tests.length > 0">
                    <label class="control-label">tests</label>
                    <div class="controls controls-row">
                        <label class="checkbox inline" ng-repeat="test in newTest.app.tests">
                            <input type="checkbox" name="test" ng-checked="isTestActive(test)" ng-click="toggleTest(test)" value="{{ test }}"> {{ test }}
                        </label>
                    </div>
                </div>

                <div class="control-group" ng-show="newTest.tests.length > 0">
                    <label class="control-label">repetitions</label>
                    <div class="controls">
                        <input type="number" ng-model="newTest.repetitions" name="repetitions" min="1" required></input>
                    </div>
                </div>

                <div class="control-group" ng-show="newTest.tests.length > 0 && newTest.repetitions">
                    <label class="control-label">batch name</label>
                    <div class="controls">
                        <input type="text" ng-model="newTest.batch_name" name="batch_name" ng-change="updateBatchName()"></input>
                    </div>
                </div>

                <div class="control-group" ng-show="newTest.repetitions">
                    <label class="control-label">versions
                        <a id="apklist" style="display:block;" target="_blank" href="list_files.py?list={{ getListName() }}&tag={{ newTest.app.name }}">see available {{ getListName() }}</a>
                    </label>
                    <div class="controls">
                        <textarea rows="5" ng-model="newTest.versions" name="versions" required></textarea>
                    </div>
                </div>

                <div class="control-group" ng-show="newTest.versions">
                    <label class="control-label">submit method</label>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" ng-model="newTest.how" name="how" value="suggest" checked>
                            suggest tests (merges these tests with any
                            existing ones in the database)
                        </label>
                        <label class="radio">
                            <input type="radio" name="how" ng-model="newTest.how" value="demand">
                            demand tests (overwrites tests for any commits selected)
                        </label>

                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
