<!doctype html>
<!--
#
# Copyright (c) 2013-14 Alex Wilson
# Copyright (c) 2014 Wyatt Johnson
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# -->
<html ng-app="libgreenminerWeb"><head>
    <title>remove tests from the greenminer queue</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/bootstrap.min.css"/>
    <link rel="stylesheet" href="resources/style.css"/>
    <link rel="stylesheet" href="resources/queue_style.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-animate.min.js"></script>
    <script type="text/javascript" src="resources/js/libgreenminerWeb.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body ng-controller="QueueCtrl">
    <div class="navbar" style="margin-bottom: 0">
        <div class="navbar-inner">
            <a class="brand" href="#">GreenMiner</a>
            <ul class="nav">
                <li><a href="index.py">Test Results</a></li>
                <li><a href="add_tests.html">Add Tests</a></li>
                <li><a href="list_apps.py">Browse Tests and APKs</a></li>
                <li class="active"><a href="#">Manage Queue</a></li>
                <li><a href="status.html">Status</a></li>
                <li><a href="graphs.py">Graphing</a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <h1>Here's the Queue!</h1>
    </div>

	<p count="queue.total" style="text-align: center" ng-pluralize
		when="{'0': 'no entries in the queue',
				'one': '1 test run remaining',
				'other': '{} test runs remaining'
	}"></p>

	<div ng-repeat="(batch, tests) in queue.queue" class="batch container" ng-class-even="'even'">
		<div class="row"><div class="span12">
			<h3>{{batch}}</h3>
			<button ng-click="remove_batch(batch)" class="btn btn-danger">remove this batch</button>
		</div></div>
		<div class="test-app row" ng-repeat="test in tests" ng-if="test.count > 0">
				<div class="span6">
						{{test.test}} on {{test.app}} at {{test.version}}
				</div>
				<div class="span6">
						{{test.count}} {{ test.count == 1 ? 'run' : 'runs'}}
						<button class="btn" ng-click="remove_runs_from_batch(batch, test)">X</button>
				</div>
		</div>
    </div>
</body>
</html>
