<!doctype html>
<!--
#
# Copyright (c) 2013-14 Alex Wilson
# Copyright (c) 2014 Wyatt Johnson
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# -->
<html ng-app="libgreenminerWeb"><head>
    <title>Greenminer Status, Errors</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/bootstrap.min.css"/>
    <link rel="stylesheet" href="resources/style.css"/>
    <link rel="stylesheet" href="resources/queue_style.css"/>
    <link rel="stylesheet" href="resources/progress.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-animate.min.js"></script>
    <script type="text/javascript" src="resources/js/libgreenminerWeb.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body ng-controller="StatusCtrl">
    <div class="navbar" style="margin-bottom: 0">
        <div class="navbar-inner">
            <a class="brand" href="#">GreenMiner</a>
            <ul class="nav">
                <li><a href="index.py">Test Results</a></li>
                <li><a href="add_tests.html">Add Tests</a></li>
                <li><a href="list_apps.py">Browse Tests and APKs</a></li>
                <li><a href="queue.html">Manage Queue</a></li>
                <li class="active"><a href="#">Status</a></li>
                <li><a href="graphs.py">Graphing</a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <h1>Greenminer Status</h1>
    </div>

    <h2>Devices</h2>
    <div class="container">
        <div class="row batch status" ng-class-even="'even'" ng-repeat="(device, status) in statuses" ng-class="{'stale': status.stale}"><div class="span12">
            <h3>{{device}}</h3>
            <b>{{status.status}}</b>
            <span ng-if="status.status == 'running'">
                {{status.data.test}}#{{status.data.batch}}
                on {{status.data.app}}:{{status.data.version}}
                <progress-bar max="status.data.duration"
                    current="status.elapsed + since_update"></progress-bar>
            </span>
            <span ng-if="status.status == 'processing'">
                {{status.data.test}}#{{status.data.batch}}
                on {{status.data.app}}:{{status.data.version}}
            </span>
    </div></div>
    </div>

    <h2>Recent Errors</h2>

    <div class="container">
        <div class="row batch" ng-class-even="'even'" ng-repeat="error in errors track by (error.device + error.when)"><div class="span12">
            <h3>{{error.device}} @ {{error.when | date:'MMM dd, HH:mm'}}</h3>
            <div ng-if="error.run_info">running
                {{error.run_info.test}}#{{error.run_info.batch}}
                on {{error.run_info.app}}:{{error.run_info.version}}</div>
            <pre class="traceback">{{error.traceback}}</pre>
        </div>
    </div>
</body>
</html>

